{% extends "./base.html" %}

{% block title %} Gestion de cursos {% endblock %}

{% block body %}
<div class="container align-content-xl-stretch">
    <div class="row">
        <font color="white" size="8">
            <center>Bienvenido a Ferretería Finca Bonita</center>
        </font>
    </div>
    <br><br>
    <table class="text-center">
        <thead>
            <tr>
                <th><a href="#Comentario" class="btn btn-secondary text-white">Realizar comentario</a></th>
                <th><a href="#Ubicacion" class="btn btn-secondary text-white">Ver ubicaciones</a></th>
            </tr>
        </thead>
    </table>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 py-5">
        <h4>
            <font color="white">Hola! Esperamos que nuestro servicio este siendo de tu agrado.
                Para mejorar la experiencia te invitamos a realizar comentarios sobre qué te ha
                parecido la experiencia contando con nosotros, para de esta forma poder brindarte
                una mejor atencion en tus proximas visitas.
            </font>
        </h4>
    </div>

    <!--------------------------------------Comentarios--------------------------------------------->
    <div class="container">
        <div class="row" id="Comentarios">
            <h2>
                <font color="white">Haznos saber tu opinion</font>
            </h2>
            <div class="card">
                <div class="card-body">{% csrf_token %}
                    <form action="https://formsubmit.co/{{manager.correo}}" method="POST">{% csrf_token %}
                        <div class="form-group">
                            <input type="text" id="txtAsunto" name="txtAsunto" class="form-control"
                                placeholder="Escribe una version corta del problema" maxlength="30" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" id="txtComentario" name="txtComentario" class="form-control"
                                placeholder="Escribe aquí tu problema a detalle" maxlength="200" required>
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <center>
                                <button type="submit" class="btn btn-success w-100 text-white">Enviar</button>
                                <h5>
                                    <font color="white">Tu comentario se hará de forma anonima.
                                    </font>
                                </h5>
                            </center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--------------------------------------Ubicacion----------------------------------------------->
        <center>
            <div class="container py-5" id="Ubicacion">
                <h3>
                    <font color="white">Encuentranos.</font>
                </h3>
                <div class="row">
                    <div class="col">
                        <h5>
                            <font color="white">Suc. Finca Bonita.
                            </font>
                        </h5>
                        <iframe class="border border-danger border-4 "
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3399.585785444425!2d-106.33742099120788!3d31.56298046000334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86e76f019cc2fd1d%3A0x255605622ac50b22!2sFerrerer%C3%ADa%20Valles!5e0!3m2!1ses-419!2smx!4v1699574672502!5m2!1ses-419!2smx"
                            width="500" height="350" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <h5>
                            <font color="white">Calle Monte Viso #3552. Finca Bonita.
                            </font>
                        </h5>
                    </div>
                    <div class="col">
                        <h5>
                            <font color="white">Suc. El Boulevard.
                            </font>
                        </h5>
                        <iframe class="border border-danger border-4 "
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d212.50826667662506!2d-106.35882064968547!3d31.547984500741787!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86e765074be27a21%3A0x99611027a90e8fbc!2sFerreter%C3%ADa%20%22El%20boulevard%22!5e0!3m2!1ses-419!2smx!4v1700539056760!5m2!1ses-419!2smx"
                            width="500" height="350" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <h5>
                            <font color="white">Blvd de los fundadores. San Jose.
                            </font>
                        </h5>
                    </div>
                </div>
            </div>
        </center>
        {% endblock %}