{% extends "./base.html" %}

{% block title %} Gestion de viajes {% endblock %}

{% block body %}
<div class="container align-content-xl-stretch">
    <div class="row">
        <font color="white" size="8">
            <center>Correo</center>
        </font>
    </div>
    <table class="text-center">
        <thead>
            <tr>
                <th><a href="/Administrador" class="btn btn-success text-white">Viajes</a></th>
                <th><a href="/AnadirProductos" class="btn btn-primary text-white">Productos</a></th>
                <th><a href="/CorreoManager" class="btn btn-warning text-white">Comentarios</a></th>
            </tr>
        </thead>
    </table>
    <br>
</div>
<!----------------------Ver Managers--------------------------------------------->
<div class="container-fluid" id="Listado">
    <h1>
        <font color="white">Manager</font>
    </h1>
    <div class="table-responsive py-2">
        <table class="table table-striped border border-secondary border-4">
            <thead>
                <tr>
                    <th>Codigo de Manager</th>
                    <th>Correo</th>

                    <th colspan="2">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for m in manager %}
                <tr>
                    <td>{{m.codigo_manager}}</td>
                    <td>{{m.correo}}</td>
                    <!--<td><a href="edicionManager/{{m.codigo_manager}}" class="btn btn-info text-white">Editar</a>
                    </td>-->
                    <td><a href="eliminarManager/{{m.codigo_manager}}" class="btn btn-danger">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p>
        <font color="white">No sabes como vincular tu correo? <a href="">Presiona aquí</a></font>
    </p>
</div>
<!----------------------Creacion de Managers------------------------------------->
<br>
<div class="container">
    <div class="row">
        <h3>
            <font color="white">Aqui puedes crear el correo a quien se enviaran los comentarios</font>
        </h3>
        <div class="card">
            <div class="card-body">
                <form action="/RegistrarManager/" method="POST">{% csrf_token %}
                    <p>
                        <font color="black">Codigo:</font>
                    </p>
                    <div class="form-group">
                        <input type="text" id="txtcodigo_manager" name="txtcodigo_manager" class="form-control"
                            maxlength="1" required>
                    </div>
                    <br>
                    <p>
                        <font color="black">Correo:</font>
                    </p>
                    <div class="form-group">
                        <input type="text" id="txtcorreo" name="txtcorreo" class="form-control"
                            placeholder="example@123.com" maxlength="30" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <center>
                            <button type="submit" class="btn btn-success w-100 text-white">Guardar</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}