{% extends "./base.html" %}

{% block title %} Bienvenido {% endblock %}

{% block body %}


<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>
            <font color="white">Edicion de Producto</font>
        </h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarCurso/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtCodigo" name="txtCodigo" value="{{curso.codigo}}" class="form-control"
                            placeholder="Codigo de platillo" minlength="6" maxlength="6" readonly required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" value="{{curso.nombre}}" class="form-control"
                            placeholder="Platillo" maxlength="50" required>
                    </div>

                    <br>
                    <div class="form-group">
                        <input type="text" id="numCreditos" name="numCreditos" value="{{curso.creditos}}"
                            class="form-control" min="1" max="1000" value="1" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <center>
                            <button type="submit" class="btn btn-success w-100 text-white">Guardar</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}